<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wujun.dao.DtAsBatteryRetireInfoMapper">
  <resultMap id="BaseResultMap" type="com.wujun.domain.DtAsBatteryRetireInfo">
    <id column="RETIRE_ID" jdbcType="DECIMAL" property="RETIRE_ID" />
    <result column="COMPANY_ID" jdbcType="DECIMAL" property="COMPANY_ID" />
    <result column="SO_NO" jdbcType="CHAR" property="SO_NO" />
    <result column="VIN" jdbcType="VARCHAR" property="VIN" />
    <result column="PLATE_NO" jdbcType="VARCHAR" property="PLATE_NO" />
    <result column="REPAIR_TYPE" jdbcType="DECIMAL" property="REPAIR_TYPE" />
    <result column="CHANGE_TYPE" jdbcType="DECIMAL" property="CHANGE_TYPE" />
    <result column="OLD_BATTERY_PACK_NO" jdbcType="VARCHAR" property="OLD_BATTERY_PACK_NO" />
    <result column="RECYCLE_DATE" jdbcType="TIMESTAMP" property="RECYCLE_DATE" />
    <result column="RETIRE_DATE" jdbcType="TIMESTAMP" property="RETIRE_DATE" />
    <result column="IS_RETIRE" jdbcType="DECIMAL" property="IS_RETIRE" />
    <result column="UNIT_ID" jdbcType="DECIMAL" property="UNIT_ID" />
    <result column="UNIT_NAME" jdbcType="VARCHAR" property="UNIT_NAME" />
    <result column="CREDIT_CODE" jdbcType="VARCHAR" property="CREDIT_CODE" />
    <result column="REMARK" jdbcType="VARCHAR" property="REMARK" />
    <result column="CREATED_BY" jdbcType="DECIMAL" property="CREATED_BY" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="CREATED_TIME" />
    <result column="UPDATED_BY" jdbcType="DECIMAL" property="UPDATED_BY" />
    <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="UPDATED_TIME" />
    <result column="VERSION" jdbcType="DECIMAL" property="VERSION" />
  </resultMap>
  <sql id="Base_Column_List">
    RETIRE_ID, COMPANY_ID, SO_NO, VIN, PLATE_NO, REPAIR_TYPE, CHANGE_TYPE, OLD_BATTERY_PACK_NO, 
    RECYCLE_DATE, RETIRE_DATE, IS_RETIRE, UNIT_ID, UNIT_NAME, CREDIT_CODE, REMARK, CREATED_BY, 
    CREATED_TIME, UPDATED_BY, UPDATED_TIME, VERSION
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from DT_AS_BATTERY_RETIRE_INFO
    where RETIRE_ID = #{RETIRE_ID,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from DT_AS_BATTERY_RETIRE_INFO
    where RETIRE_ID = #{RETIRE_ID,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.wujun.domain.DtAsBatteryRetireInfo">
    insert into DT_AS_BATTERY_RETIRE_INFO (RETIRE_ID, COMPANY_ID, SO_NO, 
      VIN, PLATE_NO, REPAIR_TYPE, 
      CHANGE_TYPE, OLD_BATTERY_PACK_NO, RECYCLE_DATE, 
      RETIRE_DATE, IS_RETIRE, UNIT_ID, 
      UNIT_NAME, CREDIT_CODE, REMARK, 
      CREATED_BY, CREATED_TIME, UPDATED_BY, 
      UPDATED_TIME, VERSION)
    values (#{RETIRE_ID,jdbcType=DECIMAL}, #{COMPANY_ID,jdbcType=DECIMAL}, #{SO_NO,jdbcType=CHAR}, 
      #{VIN,jdbcType=VARCHAR}, #{PLATE_NO,jdbcType=VARCHAR}, #{REPAIR_TYPE,jdbcType=DECIMAL}, 
      #{CHANGE_TYPE,jdbcType=DECIMAL}, #{OLD_BATTERY_PACK_NO,jdbcType=VARCHAR}, #{RECYCLE_DATE,jdbcType=TIMESTAMP}, 
      #{RETIRE_DATE,jdbcType=TIMESTAMP}, #{IS_RETIRE,jdbcType=DECIMAL}, #{UNIT_ID,jdbcType=DECIMAL}, 
      #{UNIT_NAME,jdbcType=VARCHAR}, #{CREDIT_CODE,jdbcType=VARCHAR}, #{REMARK,jdbcType=VARCHAR}, 
      #{CREATED_BY,jdbcType=DECIMAL}, #{CREATED_TIME,jdbcType=TIMESTAMP}, #{UPDATED_BY,jdbcType=DECIMAL}, 
      #{UPDATED_TIME,jdbcType=TIMESTAMP}, #{VERSION,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.wujun.domain.DtAsBatteryRetireInfo">
    insert into DT_AS_BATTERY_RETIRE_INFO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="RETIRE_ID != null">
        RETIRE_ID,
      </if>
      <if test="COMPANY_ID != null">
        COMPANY_ID,
      </if>
      <if test="SO_NO != null">
        SO_NO,
      </if>
      <if test="VIN != null">
        VIN,
      </if>
      <if test="PLATE_NO != null">
        PLATE_NO,
      </if>
      <if test="REPAIR_TYPE != null">
        REPAIR_TYPE,
      </if>
      <if test="CHANGE_TYPE != null">
        CHANGE_TYPE,
      </if>
      <if test="OLD_BATTERY_PACK_NO != null">
        OLD_BATTERY_PACK_NO,
      </if>
      <if test="RECYCLE_DATE != null">
        RECYCLE_DATE,
      </if>
      <if test="RETIRE_DATE != null">
        RETIRE_DATE,
      </if>
      <if test="IS_RETIRE != null">
        IS_RETIRE,
      </if>
      <if test="UNIT_ID != null">
        UNIT_ID,
      </if>
      <if test="UNIT_NAME != null">
        UNIT_NAME,
      </if>
      <if test="CREDIT_CODE != null">
        CREDIT_CODE,
      </if>
      <if test="REMARK != null">
        REMARK,
      </if>
      <if test="CREATED_BY != null">
        CREATED_BY,
      </if>
      <if test="CREATED_TIME != null">
        CREATED_TIME,
      </if>
      <if test="UPDATED_BY != null">
        UPDATED_BY,
      </if>
      <if test="UPDATED_TIME != null">
        UPDATED_TIME,
      </if>
      <if test="VERSION != null">
        VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="RETIRE_ID != null">
        #{RETIRE_ID,jdbcType=DECIMAL},
      </if>
      <if test="COMPANY_ID != null">
        #{COMPANY_ID,jdbcType=DECIMAL},
      </if>
      <if test="SO_NO != null">
        #{SO_NO,jdbcType=CHAR},
      </if>
      <if test="VIN != null">
        #{VIN,jdbcType=VARCHAR},
      </if>
      <if test="PLATE_NO != null">
        #{PLATE_NO,jdbcType=VARCHAR},
      </if>
      <if test="REPAIR_TYPE != null">
        #{REPAIR_TYPE,jdbcType=DECIMAL},
      </if>
      <if test="CHANGE_TYPE != null">
        #{CHANGE_TYPE,jdbcType=DECIMAL},
      </if>
      <if test="OLD_BATTERY_PACK_NO != null">
        #{OLD_BATTERY_PACK_NO,jdbcType=VARCHAR},
      </if>
      <if test="RECYCLE_DATE != null">
        #{RECYCLE_DATE,jdbcType=TIMESTAMP},
      </if>
      <if test="RETIRE_DATE != null">
        #{RETIRE_DATE,jdbcType=TIMESTAMP},
      </if>
      <if test="IS_RETIRE != null">
        #{IS_RETIRE,jdbcType=DECIMAL},
      </if>
      <if test="UNIT_ID != null">
        #{UNIT_ID,jdbcType=DECIMAL},
      </if>
      <if test="UNIT_NAME != null">
        #{UNIT_NAME,jdbcType=VARCHAR},
      </if>
      <if test="CREDIT_CODE != null">
        #{CREDIT_CODE,jdbcType=VARCHAR},
      </if>
      <if test="REMARK != null">
        #{REMARK,jdbcType=VARCHAR},
      </if>
      <if test="CREATED_BY != null">
        #{CREATED_BY,jdbcType=DECIMAL},
      </if>
      <if test="CREATED_TIME != null">
        #{CREATED_TIME,jdbcType=TIMESTAMP},
      </if>
      <if test="UPDATED_BY != null">
        #{UPDATED_BY,jdbcType=DECIMAL},
      </if>
      <if test="UPDATED_TIME != null">
        #{UPDATED_TIME,jdbcType=TIMESTAMP},
      </if>
      <if test="VERSION != null">
        #{VERSION,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wujun.domain.DtAsBatteryRetireInfo">
    update DT_AS_BATTERY_RETIRE_INFO
    <set>
      <if test="COMPANY_ID != null">
        COMPANY_ID = #{COMPANY_ID,jdbcType=DECIMAL},
      </if>
      <if test="SO_NO != null">
        SO_NO = #{SO_NO,jdbcType=CHAR},
      </if>
      <if test="VIN != null">
        VIN = #{VIN,jdbcType=VARCHAR},
      </if>
      <if test="PLATE_NO != null">
        PLATE_NO = #{PLATE_NO,jdbcType=VARCHAR},
      </if>
      <if test="REPAIR_TYPE != null">
        REPAIR_TYPE = #{REPAIR_TYPE,jdbcType=DECIMAL},
      </if>
      <if test="CHANGE_TYPE != null">
        CHANGE_TYPE = #{CHANGE_TYPE,jdbcType=DECIMAL},
      </if>
      <if test="OLD_BATTERY_PACK_NO != null">
        OLD_BATTERY_PACK_NO = #{OLD_BATTERY_PACK_NO,jdbcType=VARCHAR},
      </if>
      <if test="RECYCLE_DATE != null">
        RECYCLE_DATE = #{RECYCLE_DATE,jdbcType=TIMESTAMP},
      </if>
      <if test="RETIRE_DATE != null">
        RETIRE_DATE = #{RETIRE_DATE,jdbcType=TIMESTAMP},
      </if>
      <if test="IS_RETIRE != null">
        IS_RETIRE = #{IS_RETIRE,jdbcType=DECIMAL},
      </if>
      <if test="UNIT_ID != null">
        UNIT_ID = #{UNIT_ID,jdbcType=DECIMAL},
      </if>
      <if test="UNIT_NAME != null">
        UNIT_NAME = #{UNIT_NAME,jdbcType=VARCHAR},
      </if>
      <if test="CREDIT_CODE != null">
        CREDIT_CODE = #{CREDIT_CODE,jdbcType=VARCHAR},
      </if>
      <if test="REMARK != null">
        REMARK = #{REMARK,jdbcType=VARCHAR},
      </if>
      <if test="CREATED_BY != null">
        CREATED_BY = #{CREATED_BY,jdbcType=DECIMAL},
      </if>
      <if test="CREATED_TIME != null">
        CREATED_TIME = #{CREATED_TIME,jdbcType=TIMESTAMP},
      </if>
      <if test="UPDATED_BY != null">
        UPDATED_BY = #{UPDATED_BY,jdbcType=DECIMAL},
      </if>
      <if test="UPDATED_TIME != null">
        UPDATED_TIME = #{UPDATED_TIME,jdbcType=TIMESTAMP},
      </if>
      <if test="VERSION != null">
        VERSION = #{VERSION,jdbcType=DECIMAL},
      </if>
    </set>
    where RETIRE_ID = #{RETIRE_ID,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wujun.domain.DtAsBatteryRetireInfo">
    update DT_AS_BATTERY_RETIRE_INFO
    set COMPANY_ID = #{COMPANY_ID,jdbcType=DECIMAL},
      SO_NO = #{SO_NO,jdbcType=CHAR},
      VIN = #{VIN,jdbcType=VARCHAR},
      PLATE_NO = #{PLATE_NO,jdbcType=VARCHAR},
      REPAIR_TYPE = #{REPAIR_TYPE,jdbcType=DECIMAL},
      CHANGE_TYPE = #{CHANGE_TYPE,jdbcType=DECIMAL},
      OLD_BATTERY_PACK_NO = #{OLD_BATTERY_PACK_NO,jdbcType=VARCHAR},
      RECYCLE_DATE = #{RECYCLE_DATE,jdbcType=TIMESTAMP},
      RETIRE_DATE = #{RETIRE_DATE,jdbcType=TIMESTAMP},
      IS_RETIRE = #{IS_RETIRE,jdbcType=DECIMAL},
      UNIT_ID = #{UNIT_ID,jdbcType=DECIMAL},
      UNIT_NAME = #{UNIT_NAME,jdbcType=VARCHAR},
      CREDIT_CODE = #{CREDIT_CODE,jdbcType=VARCHAR},
      REMARK = #{REMARK,jdbcType=VARCHAR},
      CREATED_BY = #{CREATED_BY,jdbcType=DECIMAL},
      CREATED_TIME = #{CREATED_TIME,jdbcType=TIMESTAMP},
      UPDATED_BY = #{UPDATED_BY,jdbcType=DECIMAL},
      UPDATED_TIME = #{UPDATED_TIME,jdbcType=TIMESTAMP},
      VERSION = #{VERSION,jdbcType=DECIMAL}
    where RETIRE_ID = #{RETIRE_ID,jdbcType=DECIMAL}
  </update>
</mapper>