<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wujun.dao.NtCiReturningLogisticsMapper">
  <resultMap id="BaseResultMap" type="com.wujun.domain.NtCiReturningLogistics">
    <id column="LOGISTICS_ID" jdbcType="DECIMAL" property="LOGISTICS_ID" />
    <result column="COMPANY_ID" jdbcType="DECIMAL" property="COMPANY_ID" />
    <result column="DEALER_ID" jdbcType="DECIMAL" property="DEALER_ID" />
    <result column="DEALER_CODE" jdbcType="VARCHAR" property="DEALER_CODE" />
    <result column="DEALER_SHORT_NAME" jdbcType="VARCHAR" property="DEALER_SHORT_NAME" />
    <result column="BOX_ID" jdbcType="DECIMAL" property="BOX_ID" />
    <result column="CASE_NO" jdbcType="VARCHAR" property="CASE_NO" />
    <result column="RETURNING_NO" jdbcType="CHAR" property="RETURNING_NO" />
    <result column="SHIPPED_DATE" jdbcType="TIMESTAMP" property="SHIPPED_DATE" />
    <result column="CI_OFFICE_DLR" jdbcType="DECIMAL" property="CI_OFFICE_DLR" />
    <result column="CI_OFFICE_DLR_NAME" jdbcType="VARCHAR" property="CI_OFFICE_DLR_NAME" />
    <result column="POT_CODE" jdbcType="VARCHAR" property="POT_CODE" />
    <result column="POT_NAME" jdbcType="VARCHAR" property="POT_NAME" />
    <result column="ENTRY_DATE" jdbcType="TIMESTAMP" property="ENTRY_DATE" />
    <result column="ENTRY_BY" jdbcType="DECIMAL" property="ENTRY_BY" />
    <result column="IS_ENTRY" jdbcType="DECIMAL" property="IS_ENTRY" />
    <result column="IS_MANUL_ENTRY" jdbcType="DECIMAL" property="IS_MANUL_ENTRY" />
    <result column="OUT_DATE" jdbcType="TIMESTAMP" property="OUT_DATE" />
    <result column="OUT_BY" jdbcType="DECIMAL" property="OUT_BY" />
    <result column="IS_OUT" jdbcType="DECIMAL" property="IS_OUT" />
    <result column="IS_MANUL_OUT" jdbcType="DECIMAL" property="IS_MANUL_OUT" />
    <result column="ACCEPTANCE_DATE" jdbcType="TIMESTAMP" property="ACCEPTANCE_DATE" />
    <result column="ACCEPTANCE_BY" jdbcType="DECIMAL" property="ACCEPTANCE_BY" />
    <result column="IS_ACCEPTANCE" jdbcType="DECIMAL" property="IS_ACCEPTANCE" />
    <result column="REMARK" jdbcType="VARCHAR" property="REMARK" />
    <result column="CREATED_BY" jdbcType="DECIMAL" property="CREATED_BY" />
    <result column="CREATED_TIME" jdbcType="TIMESTAMP" property="CREATED_TIME" />
    <result column="UPDATED_BY" jdbcType="DECIMAL" property="UPDATED_BY" />
    <result column="UPDATED_TIME" jdbcType="TIMESTAMP" property="UPDATED_TIME" />
    <result column="VERSION" jdbcType="DECIMAL" property="VERSION" />
  </resultMap>
  <sql id="Base_Column_List">
    LOGISTICS_ID, COMPANY_ID, DEALER_ID, DEALER_CODE, DEALER_SHORT_NAME, BOX_ID, CASE_NO, 
    RETURNING_NO, SHIPPED_DATE, CI_OFFICE_DLR, CI_OFFICE_DLR_NAME, POT_CODE, POT_NAME, 
    ENTRY_DATE, ENTRY_BY, IS_ENTRY, IS_MANUL_ENTRY, OUT_DATE, OUT_BY, IS_OUT, IS_MANUL_OUT, 
    ACCEPTANCE_DATE, ACCEPTANCE_BY, IS_ACCEPTANCE, REMARK, CREATED_BY, CREATED_TIME, 
    UPDATED_BY, UPDATED_TIME, VERSION
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from NT_CI_RETURNING_LOGISTICS
    where LOGISTICS_ID = #{LOGISTICS_ID,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from NT_CI_RETURNING_LOGISTICS
    where LOGISTICS_ID = #{LOGISTICS_ID,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.wujun.domain.NtCiReturningLogistics">
    insert into NT_CI_RETURNING_LOGISTICS (LOGISTICS_ID, COMPANY_ID, DEALER_ID, 
      DEALER_CODE, DEALER_SHORT_NAME, BOX_ID, 
      CASE_NO, RETURNING_NO, SHIPPED_DATE, 
      CI_OFFICE_DLR, CI_OFFICE_DLR_NAME, POT_CODE, 
      POT_NAME, ENTRY_DATE, ENTRY_BY, 
      IS_ENTRY, IS_MANUL_ENTRY, OUT_DATE, 
      OUT_BY, IS_OUT, IS_MANUL_OUT, 
      ACCEPTANCE_DATE, ACCEPTANCE_BY, IS_ACCEPTANCE, 
      REMARK, CREATED_BY, CREATED_TIME, 
      UPDATED_BY, UPDATED_TIME, VERSION
      )
    values (#{LOGISTICS_ID,jdbcType=DECIMAL}, #{COMPANY_ID,jdbcType=DECIMAL}, #{DEALER_ID,jdbcType=DECIMAL}, 
      #{DEALER_CODE,jdbcType=VARCHAR}, #{DEALER_SHORT_NAME,jdbcType=VARCHAR}, #{BOX_ID,jdbcType=DECIMAL}, 
      #{CASE_NO,jdbcType=VARCHAR}, #{RETURNING_NO,jdbcType=CHAR}, #{SHIPPED_DATE,jdbcType=TIMESTAMP}, 
      #{CI_OFFICE_DLR,jdbcType=DECIMAL}, #{CI_OFFICE_DLR_NAME,jdbcType=VARCHAR}, #{POT_CODE,jdbcType=VARCHAR}, 
      #{POT_NAME,jdbcType=VARCHAR}, #{ENTRY_DATE,jdbcType=TIMESTAMP}, #{ENTRY_BY,jdbcType=DECIMAL}, 
      #{IS_ENTRY,jdbcType=DECIMAL}, #{IS_MANUL_ENTRY,jdbcType=DECIMAL}, #{OUT_DATE,jdbcType=TIMESTAMP}, 
      #{OUT_BY,jdbcType=DECIMAL}, #{IS_OUT,jdbcType=DECIMAL}, #{IS_MANUL_OUT,jdbcType=DECIMAL}, 
      #{ACCEPTANCE_DATE,jdbcType=TIMESTAMP}, #{ACCEPTANCE_BY,jdbcType=DECIMAL}, #{IS_ACCEPTANCE,jdbcType=DECIMAL}, 
      #{REMARK,jdbcType=VARCHAR}, #{CREATED_BY,jdbcType=DECIMAL}, #{CREATED_TIME,jdbcType=TIMESTAMP}, 
      #{UPDATED_BY,jdbcType=DECIMAL}, #{UPDATED_TIME,jdbcType=TIMESTAMP}, #{VERSION,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wujun.domain.NtCiReturningLogistics">
    insert into NT_CI_RETURNING_LOGISTICS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="LOGISTICS_ID != null">
        LOGISTICS_ID,
      </if>
      <if test="COMPANY_ID != null">
        COMPANY_ID,
      </if>
      <if test="DEALER_ID != null">
        DEALER_ID,
      </if>
      <if test="DEALER_CODE != null">
        DEALER_CODE,
      </if>
      <if test="DEALER_SHORT_NAME != null">
        DEALER_SHORT_NAME,
      </if>
      <if test="BOX_ID != null">
        BOX_ID,
      </if>
      <if test="CASE_NO != null">
        CASE_NO,
      </if>
      <if test="RETURNING_NO != null">
        RETURNING_NO,
      </if>
      <if test="SHIPPED_DATE != null">
        SHIPPED_DATE,
      </if>
      <if test="CI_OFFICE_DLR != null">
        CI_OFFICE_DLR,
      </if>
      <if test="CI_OFFICE_DLR_NAME != null">
        CI_OFFICE_DLR_NAME,
      </if>
      <if test="POT_CODE != null">
        POT_CODE,
      </if>
      <if test="POT_NAME != null">
        POT_NAME,
      </if>
      <if test="ENTRY_DATE != null">
        ENTRY_DATE,
      </if>
      <if test="ENTRY_BY != null">
        ENTRY_BY,
      </if>
      <if test="IS_ENTRY != null">
        IS_ENTRY,
      </if>
      <if test="IS_MANUL_ENTRY != null">
        IS_MANUL_ENTRY,
      </if>
      <if test="OUT_DATE != null">
        OUT_DATE,
      </if>
      <if test="OUT_BY != null">
        OUT_BY,
      </if>
      <if test="IS_OUT != null">
        IS_OUT,
      </if>
      <if test="IS_MANUL_OUT != null">
        IS_MANUL_OUT,
      </if>
      <if test="ACCEPTANCE_DATE != null">
        ACCEPTANCE_DATE,
      </if>
      <if test="ACCEPTANCE_BY != null">
        ACCEPTANCE_BY,
      </if>
      <if test="IS_ACCEPTANCE != null">
        IS_ACCEPTANCE,
      </if>
      <if test="REMARK != null">
        REMARK,
      </if>
      <if test="CREATED_BY != null">
        CREATED_BY,
      </if>
      <if test="CREATED_TIME != null">
        CREATED_TIME,
      </if>
      <if test="UPDATED_BY != null">
        UPDATED_BY,
      </if>
      <if test="UPDATED_TIME != null">
        UPDATED_TIME,
      </if>
      <if test="VERSION != null">
        VERSION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="LOGISTICS_ID != null">
        #{LOGISTICS_ID,jdbcType=DECIMAL},
      </if>
      <if test="COMPANY_ID != null">
        #{COMPANY_ID,jdbcType=DECIMAL},
      </if>
      <if test="DEALER_ID != null">
        #{DEALER_ID,jdbcType=DECIMAL},
      </if>
      <if test="DEALER_CODE != null">
        #{DEALER_CODE,jdbcType=VARCHAR},
      </if>
      <if test="DEALER_SHORT_NAME != null">
        #{DEALER_SHORT_NAME,jdbcType=VARCHAR},
      </if>
      <if test="BOX_ID != null">
        #{BOX_ID,jdbcType=DECIMAL},
      </if>
      <if test="CASE_NO != null">
        #{CASE_NO,jdbcType=VARCHAR},
      </if>
      <if test="RETURNING_NO != null">
        #{RETURNING_NO,jdbcType=CHAR},
      </if>
      <if test="SHIPPED_DATE != null">
        #{SHIPPED_DATE,jdbcType=TIMESTAMP},
      </if>
      <if test="CI_OFFICE_DLR != null">
        #{CI_OFFICE_DLR,jdbcType=DECIMAL},
      </if>
      <if test="CI_OFFICE_DLR_NAME != null">
        #{CI_OFFICE_DLR_NAME,jdbcType=VARCHAR},
      </if>
      <if test="POT_CODE != null">
        #{POT_CODE,jdbcType=VARCHAR},
      </if>
      <if test="POT_NAME != null">
        #{POT_NAME,jdbcType=VARCHAR},
      </if>
      <if test="ENTRY_DATE != null">
        #{ENTRY_DATE,jdbcType=TIMESTAMP},
      </if>
      <if test="ENTRY_BY != null">
        #{ENTRY_BY,jdbcType=DECIMAL},
      </if>
      <if test="IS_ENTRY != null">
        #{IS_ENTRY,jdbcType=DECIMAL},
      </if>
      <if test="IS_MANUL_ENTRY != null">
        #{IS_MANUL_ENTRY,jdbcType=DECIMAL},
      </if>
      <if test="OUT_DATE != null">
        #{OUT_DATE,jdbcType=TIMESTAMP},
      </if>
      <if test="OUT_BY != null">
        #{OUT_BY,jdbcType=DECIMAL},
      </if>
      <if test="IS_OUT != null">
        #{IS_OUT,jdbcType=DECIMAL},
      </if>
      <if test="IS_MANUL_OUT != null">
        #{IS_MANUL_OUT,jdbcType=DECIMAL},
      </if>
      <if test="ACCEPTANCE_DATE != null">
        #{ACCEPTANCE_DATE,jdbcType=TIMESTAMP},
      </if>
      <if test="ACCEPTANCE_BY != null">
        #{ACCEPTANCE_BY,jdbcType=DECIMAL},
      </if>
      <if test="IS_ACCEPTANCE != null">
        #{IS_ACCEPTANCE,jdbcType=DECIMAL},
      </if>
      <if test="REMARK != null">
        #{REMARK,jdbcType=VARCHAR},
      </if>
      <if test="CREATED_BY != null">
        #{CREATED_BY,jdbcType=DECIMAL},
      </if>
      <if test="CREATED_TIME != null">
        #{CREATED_TIME,jdbcType=TIMESTAMP},
      </if>
      <if test="UPDATED_BY != null">
        #{UPDATED_BY,jdbcType=DECIMAL},
      </if>
      <if test="UPDATED_TIME != null">
        #{UPDATED_TIME,jdbcType=TIMESTAMP},
      </if>
      <if test="VERSION != null">
        #{VERSION,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wujun.domain.NtCiReturningLogistics">
    update NT_CI_RETURNING_LOGISTICS
    <set>
      <if test="COMPANY_ID != null">
        COMPANY_ID = #{COMPANY_ID,jdbcType=DECIMAL},
      </if>
      <if test="DEALER_ID != null">
        DEALER_ID = #{DEALER_ID,jdbcType=DECIMAL},
      </if>
      <if test="DEALER_CODE != null">
        DEALER_CODE = #{DEALER_CODE,jdbcType=VARCHAR},
      </if>
      <if test="DEALER_SHORT_NAME != null">
        DEALER_SHORT_NAME = #{DEALER_SHORT_NAME,jdbcType=VARCHAR},
      </if>
      <if test="BOX_ID != null">
        BOX_ID = #{BOX_ID,jdbcType=DECIMAL},
      </if>
      <if test="CASE_NO != null">
        CASE_NO = #{CASE_NO,jdbcType=VARCHAR},
      </if>
      <if test="RETURNING_NO != null">
        RETURNING_NO = #{RETURNING_NO,jdbcType=CHAR},
      </if>
      <if test="SHIPPED_DATE != null">
        SHIPPED_DATE = #{SHIPPED_DATE,jdbcType=TIMESTAMP},
      </if>
      <if test="CI_OFFICE_DLR != null">
        CI_OFFICE_DLR = #{CI_OFFICE_DLR,jdbcType=DECIMAL},
      </if>
      <if test="CI_OFFICE_DLR_NAME != null">
        CI_OFFICE_DLR_NAME = #{CI_OFFICE_DLR_NAME,jdbcType=VARCHAR},
      </if>
      <if test="POT_CODE != null">
        POT_CODE = #{POT_CODE,jdbcType=VARCHAR},
      </if>
      <if test="POT_NAME != null">
        POT_NAME = #{POT_NAME,jdbcType=VARCHAR},
      </if>
      <if test="ENTRY_DATE != null">
        ENTRY_DATE = #{ENTRY_DATE,jdbcType=TIMESTAMP},
      </if>
      <if test="ENTRY_BY != null">
        ENTRY_BY = #{ENTRY_BY,jdbcType=DECIMAL},
      </if>
      <if test="IS_ENTRY != null">
        IS_ENTRY = #{IS_ENTRY,jdbcType=DECIMAL},
      </if>
      <if test="IS_MANUL_ENTRY != null">
        IS_MANUL_ENTRY = #{IS_MANUL_ENTRY,jdbcType=DECIMAL},
      </if>
      <if test="OUT_DATE != null">
        OUT_DATE = #{OUT_DATE,jdbcType=TIMESTAMP},
      </if>
      <if test="OUT_BY != null">
        OUT_BY = #{OUT_BY,jdbcType=DECIMAL},
      </if>
      <if test="IS_OUT != null">
        IS_OUT = #{IS_OUT,jdbcType=DECIMAL},
      </if>
      <if test="IS_MANUL_OUT != null">
        IS_MANUL_OUT = #{IS_MANUL_OUT,jdbcType=DECIMAL},
      </if>
      <if test="ACCEPTANCE_DATE != null">
        ACCEPTANCE_DATE = #{ACCEPTANCE_DATE,jdbcType=TIMESTAMP},
      </if>
      <if test="ACCEPTANCE_BY != null">
        ACCEPTANCE_BY = #{ACCEPTANCE_BY,jdbcType=DECIMAL},
      </if>
      <if test="IS_ACCEPTANCE != null">
        IS_ACCEPTANCE = #{IS_ACCEPTANCE,jdbcType=DECIMAL},
      </if>
      <if test="REMARK != null">
        REMARK = #{REMARK,jdbcType=VARCHAR},
      </if>
      <if test="CREATED_BY != null">
        CREATED_BY = #{CREATED_BY,jdbcType=DECIMAL},
      </if>
      <if test="CREATED_TIME != null">
        CREATED_TIME = #{CREATED_TIME,jdbcType=TIMESTAMP},
      </if>
      <if test="UPDATED_BY != null">
        UPDATED_BY = #{UPDATED_BY,jdbcType=DECIMAL},
      </if>
      <if test="UPDATED_TIME != null">
        UPDATED_TIME = #{UPDATED_TIME,jdbcType=TIMESTAMP},
      </if>
      <if test="VERSION != null">
        VERSION = #{VERSION,jdbcType=DECIMAL},
      </if>
    </set>
    where LOGISTICS_ID = #{LOGISTICS_ID,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wujun.domain.NtCiReturningLogistics">
    update NT_CI_RETURNING_LOGISTICS
    set COMPANY_ID = #{COMPANY_ID,jdbcType=DECIMAL},
      DEALER_ID = #{DEALER_ID,jdbcType=DECIMAL},
      DEALER_CODE = #{DEALER_CODE,jdbcType=VARCHAR},
      DEALER_SHORT_NAME = #{DEALER_SHORT_NAME,jdbcType=VARCHAR},
      BOX_ID = #{BOX_ID,jdbcType=DECIMAL},
      CASE_NO = #{CASE_NO,jdbcType=VARCHAR},
      RETURNING_NO = #{RETURNING_NO,jdbcType=CHAR},
      SHIPPED_DATE = #{SHIPPED_DATE,jdbcType=TIMESTAMP},
      CI_OFFICE_DLR = #{CI_OFFICE_DLR,jdbcType=DECIMAL},
      CI_OFFICE_DLR_NAME = #{CI_OFFICE_DLR_NAME,jdbcType=VARCHAR},
      POT_CODE = #{POT_CODE,jdbcType=VARCHAR},
      POT_NAME = #{POT_NAME,jdbcType=VARCHAR},
      ENTRY_DATE = #{ENTRY_DATE,jdbcType=TIMESTAMP},
      ENTRY_BY = #{ENTRY_BY,jdbcType=DECIMAL},
      IS_ENTRY = #{IS_ENTRY,jdbcType=DECIMAL},
      IS_MANUL_ENTRY = #{IS_MANUL_ENTRY,jdbcType=DECIMAL},
      OUT_DATE = #{OUT_DATE,jdbcType=TIMESTAMP},
      OUT_BY = #{OUT_BY,jdbcType=DECIMAL},
      IS_OUT = #{IS_OUT,jdbcType=DECIMAL},
      IS_MANUL_OUT = #{IS_MANUL_OUT,jdbcType=DECIMAL},
      ACCEPTANCE_DATE = #{ACCEPTANCE_DATE,jdbcType=TIMESTAMP},
      ACCEPTANCE_BY = #{ACCEPTANCE_BY,jdbcType=DECIMAL},
      IS_ACCEPTANCE = #{IS_ACCEPTANCE,jdbcType=DECIMAL},
      REMARK = #{REMARK,jdbcType=VARCHAR},
      CREATED_BY = #{CREATED_BY,jdbcType=DECIMAL},
      CREATED_TIME = #{CREATED_TIME,jdbcType=TIMESTAMP},
      UPDATED_BY = #{UPDATED_BY,jdbcType=DECIMAL},
      UPDATED_TIME = #{UPDATED_TIME,jdbcType=TIMESTAMP},
      VERSION = #{VERSION,jdbcType=DECIMAL}
    where LOGISTICS_ID = #{LOGISTICS_ID,jdbcType=DECIMAL}
  </update>
</mapper>