<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wujun.dao.PopWindowMapper">
  <resultMap id="BaseResultMap" type="com.wujun.domain.PopWindow">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pop_window_name" jdbcType="VARCHAR" property="popWindowName" />
    <result column="brand_code" jdbcType="VARCHAR" property="brandCode" />
    <result column="channel_id" jdbcType="INTEGER" property="channelId" />
    <result column="terminal_id" jdbcType="INTEGER" property="terminalId" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="period" jdbcType="INTEGER" property="period" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="vaild" jdbcType="TINYINT" property="vaild" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_name" jdbcType="VARCHAR" property="createdName" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_name" jdbcType="VARCHAR" property="updatedName" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pop_window_name, brand_code, channel_id, terminal_id, status, period, description, 
    vaild, created_by, created_name, created_time, updated_by, updated_name, updated_time, 
    version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from popwindow
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from popwindow
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wujun.domain.PopWindow">
    insert into popwindow (id, pop_window_name, brand_code, 
      channel_id, terminal_id, status, 
      period, description, vaild, 
      created_by, created_name, created_time, 
      updated_by, updated_name, updated_time, 
      version)
    values (#{id,jdbcType=BIGINT}, #{popWindowName,jdbcType=VARCHAR}, #{brandCode,jdbcType=VARCHAR}, 
      #{channelId,jdbcType=INTEGER}, #{terminalId,jdbcType=INTEGER}, #{status,jdbcType=BIT}, 
      #{period,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{vaild,jdbcType=TINYINT}, 
      #{createdBy,jdbcType=BIGINT}, #{createdName,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, 
      #{updatedBy,jdbcType=BIGINT}, #{updatedName,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wujun.domain.PopWindow">
    insert into popwindow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="popWindowName != null">
        pop_window_name,
      </if>
      <if test="brandCode != null">
        brand_code,
      </if>
      <if test="channelId != null">
        channel_id,
      </if>
      <if test="terminalId != null">
        terminal_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="period != null">
        period,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="vaild != null">
        vaild,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdName != null">
        created_name,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedName != null">
        updated_name,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="popWindowName != null">
        #{popWindowName,jdbcType=VARCHAR},
      </if>
      <if test="brandCode != null">
        #{brandCode,jdbcType=VARCHAR},
      </if>
      <if test="channelId != null">
        #{channelId,jdbcType=INTEGER},
      </if>
      <if test="terminalId != null">
        #{terminalId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="period != null">
        #{period,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="vaild != null">
        #{vaild,jdbcType=TINYINT},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdName != null">
        #{createdName,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedName != null">
        #{updatedName,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wujun.domain.PopWindow">
    update popwindow
    <set>
      <if test="popWindowName != null">
        pop_window_name = #{popWindowName,jdbcType=VARCHAR},
      </if>
      <if test="brandCode != null">
        brand_code = #{brandCode,jdbcType=VARCHAR},
      </if>
      <if test="channelId != null">
        channel_id = #{channelId,jdbcType=INTEGER},
      </if>
      <if test="terminalId != null">
        terminal_id = #{terminalId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="period != null">
        period = #{period,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="vaild != null">
        vaild = #{vaild,jdbcType=TINYINT},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdName != null">
        created_name = #{createdName,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedName != null">
        updated_name = #{updatedName,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wujun.domain.PopWindow">
    update popwindow
    set pop_window_name = #{popWindowName,jdbcType=VARCHAR},
      brand_code = #{brandCode,jdbcType=VARCHAR},
      channel_id = #{channelId,jdbcType=INTEGER},
      terminal_id = #{terminalId,jdbcType=INTEGER},
      status = #{status,jdbcType=BIT},
      period = #{period,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      vaild = #{vaild,jdbcType=TINYINT},
      created_by = #{createdBy,jdbcType=BIGINT},
      created_name = #{createdName,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=BIGINT},
      updated_name = #{updatedName,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>