<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wujun.dao.WxIntroduceActivityEntryMapper">
  <resultMap id="BaseResultMap" type="com.wujun.domain.WxIntroduceActivityEntry">
    <id column="entry_id" jdbcType="BIGINT" property="entryId" />
    <result column="recommend_id" jdbcType="BIGINT" property="recommendId" />
    <result column="activity_id" jdbcType="BIGINT" property="activityId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="entry_time" jdbcType="TIMESTAMP" property="entryTime" />
    <result column="company_id" jdbcType="BIGINT" property="companyId" />
    <result column="dealer_id" jdbcType="BIGINT" property="dealerId" />
    <result column="dealer_name" jdbcType="VARCHAR" property="dealerName" />
    <result column="country" jdbcType="BIGINT" property="country" />
    <result column="province" jdbcType="BIGINT" property="province" />
    <result column="city" jdbcType="BIGINT" property="city" />
    <result column="county" jdbcType="BIGINT" property="county" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_name" jdbcType="VARCHAR" property="createdName" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_name" jdbcType="VARCHAR" property="updatedName" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    entry_id, recommend_id, activity_id, name, mobile, entry_time, company_id, dealer_id, 
    dealer_name, country, province, city, county, address, created_by, created_name, 
    created_time, updated_by, updated_name, updated_time, version
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from wx_introduce_activity_entry
    where entry_id = #{entryId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from wx_introduce_activity_entry
    where entry_id = #{entryId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.wujun.domain.WxIntroduceActivityEntry">
    insert into wx_introduce_activity_entry (entry_id, recommend_id, activity_id, 
      name, mobile, entry_time, 
      company_id, dealer_id, dealer_name, 
      country, province, city, 
      county, address, created_by, 
      created_name, created_time, updated_by, 
      updated_name, updated_time, version
      )
    values (#{entryId,jdbcType=BIGINT}, #{recommendId,jdbcType=BIGINT}, #{activityId,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{entryTime,jdbcType=TIMESTAMP}, 
      #{companyId,jdbcType=BIGINT}, #{dealerId,jdbcType=BIGINT}, #{dealerName,jdbcType=VARCHAR}, 
      #{country,jdbcType=BIGINT}, #{province,jdbcType=BIGINT}, #{city,jdbcType=BIGINT}, 
      #{county,jdbcType=BIGINT}, #{address,jdbcType=VARCHAR}, #{createdBy,jdbcType=BIGINT}, 
      #{createdName,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=BIGINT}, 
      #{updatedName,jdbcType=VARCHAR}, #{updatedTime,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wujun.domain.WxIntroduceActivityEntry">
    insert into wx_introduce_activity_entry
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="entryId != null">
        entry_id,
      </if>
      <if test="recommendId != null">
        recommend_id,
      </if>
      <if test="activityId != null">
        activity_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="entryTime != null">
        entry_time,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="dealerId != null">
        dealer_id,
      </if>
      <if test="dealerName != null">
        dealer_name,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="county != null">
        county,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdName != null">
        created_name,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedName != null">
        updated_name,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="entryId != null">
        #{entryId,jdbcType=BIGINT},
      </if>
      <if test="recommendId != null">
        #{recommendId,jdbcType=BIGINT},
      </if>
      <if test="activityId != null">
        #{activityId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="entryTime != null">
        #{entryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="dealerId != null">
        #{dealerId,jdbcType=BIGINT},
      </if>
      <if test="dealerName != null">
        #{dealerName,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=BIGINT},
      </if>
      <if test="province != null">
        #{province,jdbcType=BIGINT},
      </if>
      <if test="city != null">
        #{city,jdbcType=BIGINT},
      </if>
      <if test="county != null">
        #{county,jdbcType=BIGINT},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdName != null">
        #{createdName,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedName != null">
        #{updatedName,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wujun.domain.WxIntroduceActivityEntry">
    update wx_introduce_activity_entry
    <set>
      <if test="recommendId != null">
        recommend_id = #{recommendId,jdbcType=BIGINT},
      </if>
      <if test="activityId != null">
        activity_id = #{activityId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="entryTime != null">
        entry_time = #{entryTime,jdbcType=TIMESTAMP},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=BIGINT},
      </if>
      <if test="dealerId != null">
        dealer_id = #{dealerId,jdbcType=BIGINT},
      </if>
      <if test="dealerName != null">
        dealer_name = #{dealerName,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=BIGINT},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=BIGINT},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=BIGINT},
      </if>
      <if test="county != null">
        county = #{county,jdbcType=BIGINT},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=BIGINT},
      </if>
      <if test="createdName != null">
        created_name = #{createdName,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=BIGINT},
      </if>
      <if test="updatedName != null">
        updated_name = #{updatedName,jdbcType=VARCHAR},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where entry_id = #{entryId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wujun.domain.WxIntroduceActivityEntry">
    update wx_introduce_activity_entry
    set recommend_id = #{recommendId,jdbcType=BIGINT},
      activity_id = #{activityId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      entry_time = #{entryTime,jdbcType=TIMESTAMP},
      company_id = #{companyId,jdbcType=BIGINT},
      dealer_id = #{dealerId,jdbcType=BIGINT},
      dealer_name = #{dealerName,jdbcType=VARCHAR},
      country = #{country,jdbcType=BIGINT},
      province = #{province,jdbcType=BIGINT},
      city = #{city,jdbcType=BIGINT},
      county = #{county,jdbcType=BIGINT},
      address = #{address,jdbcType=VARCHAR},
      created_by = #{createdBy,jdbcType=BIGINT},
      created_name = #{createdName,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_by = #{updatedBy,jdbcType=BIGINT},
      updated_name = #{updatedName,jdbcType=VARCHAR},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      version = #{version,jdbcType=INTEGER}
    where entry_id = #{entryId,jdbcType=BIGINT}
  </update>
</mapper>